{% extends '::base.html.twig' %} 
{% block body %}
<h1>Rachunek list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Data_wystawienia</th>
            <th>Numer_rachunku</th>
            <th>Nazwa_usugi</th>
            <th>Kwota</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('rachunek_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{% if entity.datawystawienia %}{{ entity.datawystawienia|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{{ entity.numerrachunku }}</td>
            <td>{{ entity.nazwausugi }}</td>
            <td>{{ entity.kwota }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('rachunek_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('rachunek_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('rachunek_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}